<% layout("../layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-6 offset-3">
    <%- include('./flash') %>
    <h1 class="display-3">Fill the Details here</h1>
    <form
      action="/campgrounds"
      method="POST"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <label class="form-label" for="title">Title</label>
      <input
        required
        class="form-control mb-2"
        type="text"
        id="title"
        name="title"
      />

      <label class="form-label" for="price">Price</label>
      <input
        required
        class="form-control mb-2"
        type="number"
        id="price"
        name="price"
      />

      <label class="form-label" for="location">Location</label>
      <input
        required
        class="form-control mb-2"
        type="text"
        id="title"
        name="location"
      />

      <div class="mb-3">
        <label for="formFile" class="form-label">Add Image(s)</label>
        <input
          class="form-control mb-2"
          name="image"
          type="file"
          id="formFile"
          multiple
        />
      </div>
      <label class="form-label" for="description">Description</label>
      <input
        required
        class="form-control mb-2"
        type="text"
        id="title"
        name="description"
      />

      <button class="btn btn-primary">Add Camp</button>
    </form>
  </div>
</div>
