<% layout("../layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-6 offset-3">
    <%- include('./flash') %>
    <h1 class="display-3">Fill the Details here</h1>
    <form
      action="/campgrounds"
      method="POST"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <label class="form-label" for="title">Title</label>
      <input
        required
        class="form-control"
        type="text"
        id="title"
        name="title"
      />
      <br />
      <label class="form-label" for="price">Price</label>
      <input
        required
        class="form-control"
        type="number"
        id="price"
        name="price"
      />
      <br />
      <label class="form-label" for="location">Location</label>
      <input
        required
        class="form-control"
        type="text"
        id="title"
        name="location"
      />
      <br />
      <label class="form-label" for="image">Image</label>
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile02" />
          <label class="custom-file-label" for="inputGroupFile02"
            >Choose file</label
          >
        </div>
        <div class="input-group-append">
          <span class="input-group-text" id="">Upload</span>
        </div>
      </div>
      <label class="form-label" for="description">Description</label>
      <input
        required
        class="form-control"
        type="text"
        id="title"
        name="description"
      />
      <br />
      <button class="btn btn-primary">Add Camp</button>
    </form>
  </div>
</div>
